/* Тут пиши основные стили */
* {
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

.article {
    width: 700px;
    margin: 0 auto;
    padding: 80px 0;
}

p {
    width: 700px;
    font-size: 21px;
    line-height: 33px;
}

.article h1, .article h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color:rgba(0,0,0,0.84);
    margin-bottom: 10px;
}

.article h1 {
    font-size: 42px;
    line-height: 44px;
}

.article h2 {
    font-size: 34px;
    line-height: 39px;
    margin-top: 50px;
}

.article img {
    display: block;
    width: 100%;
}

.first_photo {
    margin: 42px 0 37px;
}

.second_photo {
    margin: 43px 0 37px;
}

.article code {
    font-family: "Courier New", monospace;
}


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}

.logo{
    margin-left: 38px;
}

header{
    list-style: none;
    background-color: lightgray;
    border: 3px solid lightgray;
}

header li{
    display: inline;
    margin: 15px;
}

header a{
    color:#333333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    text-decoration: none;
    font-size: 24px;
}

header .currentLink{
    color: #d0021b;
}
header a:hover {
    text-decoration: underline;
    cursor: url('./responsive-design/E8E9A56B-53B7-494E-BE52-747EE607EC62/5301AFFB-CEE8-43FC-8F06-FB9785DF6E4A@1x.png') 2 2, pointer;
}